@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Prompt:wght@400;700&display=swap');


:root{
    --primary: linear-gradient(90deg, #2CC56F 6.54%, #BEDC7C 92.06%);
    --font-color: #344767;
    --font-grey: #C7C7C7;
    --accent-color: #3DB278;

}

body{
    font-family: "Prompt", sans-serif;
    background: #F8F8F8;
}

.navbar{
    background-color: #ffffff;
}

.logo{
    font-family: "Krona One", sans-serif;
    background: var(--primary);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 36px;
    font-weight: 700;
    margin-right: 80px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.logo img {
    max-width: 100%;
}

.nav-item{
    margin: 0 10px;
    cursor: pointer;
}

.nav-link{
    color: var(--font-grey);
    transition: color 0.3s ease;
}

.nav-link:hover {
    background: linear-gradient(to right, #2c4fff, #b200ff);
    -webkit-background-clip: text;
    color: transparent;
}


